:root {
  --main-color: #585f73;
  --secondry-color: #1a1b26;
  --accent-color: #f2aa52;
  --accent-color-2: #d9763d;
}

/* Color Theme Swatches in Hex */
.Game-Design-1-hex {
  color: #1a1b26;
}
.Game-Design-2-hex {
  color: #585f73;
}
.Game-Design-3-hex {
  color: #f2aa52;
}
.Game-Design-4-hex {
  color: #d9763d;
}
.Game-Design-5-hex {
  color: #a65233;
}

/* Color Theme Swatches in RGBA */
.Game-Design-1-rgba {
  color: rgba(26, 26, 38, 1);
}
.Game-Design-2-rgba {
  color: rgba(88, 94, 114, 1);
}
.Game-Design-3-rgba {
  color: rgba(242, 170, 82, 1);
}
.Game-Design-4-rgba {
  color: rgba(216, 117, 60, 1);
}
.Game-Design-5-rgba {
  color: rgba(165, 81, 51, 1);
}
