@media screen and (min-width: 768px) {
  header {
    overflow: auto;
  }
  .top {
    max-width: 1024px;
    height: auto;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;

    &__backgroundAndShadow {
      position: fixed;
      left: 0;
      width: 100vw;
      height: 56px;
    }

    &__toggle {
      display: none;
    }

    &__menu {
      position: static;
      flex-direction: row;
      order: 2;
      padding: 0;
      width: auto;

      &__main-links {
        flex-direction: row;
        width: fit-content;
        display: inline-flex;
        li a {
          font-size: 1.5rem;
        }
      }

      &__secondry-links {
        position: static;
        width: fit-content;
        display: inline-flex;
        z-index: 10;

        .close {
          display: none;
        }
      }
    }
  }
}
