*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  margin-top: 48px;
}

h1,
h2,
p {
  margin: 0;
  pad: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

:root {
  --main-color: #585f73;
  --secondry-color: #1a1b26;
  --accent-color: #f2aa52;
  --accent-color-2: #d9763d;
}

/* Color Theme Swatches in Hex    */
.Game-Design-1-hex {
  color: #1a1b26;
}

.Game-Design-2-hex {
  color: #585f73;
}

.Game-Design-3-hex {
  color: #f2aa52;
}

.Game-Design-4-hex {
  color: #d9763d;
}

.Game-Design-5-hex {
  color: #a65233;
}

/* Color Theme Swatches in RGBA */
.Game-Design-1-rgba {
  color: #1a1a26;
}

.Game-Design-2-rgba {
  color: #585e72;
}

.Game-Design-3-rgba {
  color: #f2aa52;
}

.Game-Design-4-rgba {
  color: #d8753c;
}

.Game-Design-5-rgba {
  color: #a55133;
}

.top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1.6rem;
  z-index: 10;
  height: 48px;
}

.top__backgroundAndShadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.top__logo {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}

.top__logo a {
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.top__toggle {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.top__toggle i {
  font-size: 3rem;
}

.top__menu {
  position: absolute;
  top: -100vh;
  left: 0;
  -webkit-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
  background-color: var(--main-color);
  width: 100%;
  height: calc(100vh - 100%);
  padding: 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__menu.show {
  top: 100%;
}

.top__menu__main-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.2rem;
  font-size: 1.6rem;
}

.top__menu__main-links li a {
  color: white;
  text-transform: capitalize;
  letter-spacing: 0.3rem;
  position: relative;
}

.top__menu__main-links li a::after {
  content: "";
  position: absolute;
  top: 150%;
  left: 0;
  background-color: var(--accent-color);
  width: 0;
  height: 0.2rem;
  -webkit-transition: width 0.25s;
  transition: width 0.25s;
}

.top__menu__main-links li a.active::after {
  width: 100%;
}

.top__menu__main-links li a:hover::after {
  width: 100%;
}

.top__menu__secondry-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.6rem;
  width: 100%;
  padding: 0 2rem;
}

.top__menu__secondry-links li a {
  color: white;
  font-size: 1rem;
}

.top__menu__secondry-links li a i {
  font-size: 3rem;
}

.top__menu__secondry-links .close {
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  header {
    overflow: auto;
  }
  .top {
    max-width: 1024px;
    height: auto;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .top__backgroundAndShadow {
    position: fixed;
    left: 0;
    width: 100vw;
    height: 56px;
  }
  .top__toggle {
    display: none;
  }
  .top__menu {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 0;
    width: auto;
  }
  .top__menu__main-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .top__menu__main-links li a {
    font-size: 1.5rem;
  }
  .top__menu__secondry-links {
    position: static;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    z-index: 10;
  }
  .top__menu__secondry-links .close {
    display: none;
  }
}

@-webkit-keyframes profile-reveal {
  from {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes profile-reveal {
  from {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes message-reveal {
  0% {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
    opacity: 0;
  }
  65% {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes message-reveal {
  0% {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
    opacity: 0;
  }
  65% {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.6rem;
  height: calc(100vh - 4.8rem);
  width: 100%;
}

.home__profile {
  width: 250px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  -webkit-animation: profile-reveal 0.75s;
          animation: profile-reveal 0.75s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.home__profile img {
  display: block;
  max-width: 100%;
  height: auto;
}

.home__profile svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home__profile svg circle {
  stroke: var(--main-color);
}

.home__message {
  text-align: center;
  font-size: 1.5rem;
  line-height: 4rem;
  letter-spacing: 0.075rem;
  word-spacing: 0.5rem;
  -webkit-animation: message-reveal 2s ease-in;
          animation: message-reveal 2s ease-in;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.home__message .--special {
  font-size: 2rem;
  color: var(--accent-color-2);
  font-weight: bold;
}

.home__message .--special-2 {
  font-weight: bold;
}

.home__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.home__links li a {
  color: var(--secondry-color);
  font-size: 3rem;
}

@media screen and (min-width: 768px) {
  .home {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1024px;
    margin: auto;
  }
  .home__profile {
    width: 350px;
  }
  .home__profile svg {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  .home__message {
    font-size: 3rem;
  }
  .home__links {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */